---
layout: layouts/base.njk
---
{% include "partials/page-header.njk" %}
<article class="mx-auto max-w-3xl px-4 pb-20 sm:px-6">
  <div class="prose-site dropcap">
    {{ content | safe }}
  </div>
</article>
